<a href="https://colab.research.google.com/github/mley714/Build_Your_Own_AI_Investor/blob/master/Pairs_Trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 7.7MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=2fe81917aa8d32ba68e1a10ded776b1502204126341dbb59a00d8fced45f066b
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.2 yfinance-0.1.55

In [ ]:
from datetime import datime

ImportError: ignored

In [ ]:
from datetime import datetime

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

In [ ]:
import yfinance as yf
data =yf.download('UNH',start="2020-01-01", end="2020-12-31")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data.head()

                  Open        High         Low       Close   Adj Close   Volume
Date
2020-01-02  293.980011  295.700012  289.790009  292.500000  287.764160  2543400
2020-01-03  287.269989  291.880005  284.359985  289.540009  284.852081  2711400
2020-01-06  288.000000  291.660004  287.220001  291.549988  286.829498  3079100
2020-01-07  290.700012  291.489990  287.579987  289.790009  285.098053  2492900
2020-01-08  291.500000  297.380005  290.040009  295.899994  291.109100  3379200

In [ ]:
data

                  Open        High         Low       Close   Adj Close   Volume
Date
2020-01-02  293.980011  295.700012  289.790009  292.500000  287.764160  2543400
2020-01-03  287.269989  291.880005  284.359985  289.540009  284.852081  2711400
2020-01-06  288.000000  291.660004  287.220001  291.549988  286.829498  3079100
2020-01-07  290.700012  291.489990  287.579987  289.790009  285.098053  2492900
2020-01-08  291.500000  297.380005  290.040009  295.899994  291.109100  3379200
...                ...         ...         ...         ...         ...      ...
2020-12-23  336.489990  341.649994  336.029999  337.589996  337.589996  2348100
2020-12-24  336.440002  341.410004  336.440002  340.790009  340.790009  1360600
2020-12-28  343.209991  347.790009  343.059998  345.950012  345.950012  2308200
2020-12-29  347.989990  351.290009  345.000000  347.350006  347.350006  2275700
2020-12-30  347.079987  349.010010  344.470001  344.989990  344.989990  1866000

[252 rows x 6 columns]